body{
background-color: rgb(246, 246, 117);
text-align: center;
}

.login_div1,.login_div2{
background-color: rgb(187, 240, 81);
padding-top: 40px;
float: none;
border-radius: 30px;
border-color: aquamarine;
}

#output{
    background-color: rgb(190, 222, 246);
    border-radius: 40px;
    border-top: 20px solid cadetblue;
    padding: 20px;
    float: none;
    text-align: left;
}